 body{
     background: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1549152866/iphoneXaccuratemask.png') center fixed no-repeat; 
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    height: 97vh;
    
    
}
img{
    visibility: hidden;
    align-content: center;
}
.container{
    margin: 0 auto;
    display: flex; 
    align-items: center;
    
}
.phone-container {
    background-color: black;
    height: 555px;
    width: 287px;
    margin: 0 auto;
    top: 0;
    bottom: 0;

    /* display: flex;  */
    /* align-items: center;
    align-content: center;
    align-items: center;
    text-align: center; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    animation-name: loop-background;
    animation-duration: 8s; 
}
h1{
    font-family: 'Cedarville Cursive', cursive;
    color: white
}
p{
    font-family: 'Indie Flower', cursive;
    color: white
}
.size {
    font-family: 'Cedarville Cursive', cursive;
    color: white
}

.phone-container{
    display: inline-block;
    
}
#title1{
    visibility: hidden;
}
#title2{
  visibility: hidden;
}
#title3{
  visibility: hidden;
}
#title4{
  visibility: hidden;
}
#title5{
  visibility: hidden;
}
#title6{
  visibility: hidden;
}

/* .centered-element {
    
    position: absolute;
    left: 50%;
    margin-left: -200px;
    z-index: 0;
    height: 700px;
    
  }
  

 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 560px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.phone-container{
     height: 0;
    width: 0; 
    background-color: none;
}

p{  
    width: 100%;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}
.size{
    font-size: 35px;
}
    body{
       height: auto;
        color: white;
        background: url("https://res.cloudinary.com/dh41vh9dx/image/upload/v1547832923/blue1.jpg") no-repeat center center fixed; 
        background-color: black;
        background-size: 100%;
        animation-name: loop-background;
        animation-duration: 8s;
        font-family: 'Cedarville Cursive', cursive;
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
      }
      h1{
          font-size: 50px;
          margin-left: 25px;
          text-align: center;
          font-family: 'Cedarville Cursive', cursive;
      }
      background-image {
          width: 100vw;
      }
      .header{
          display: flex;
          align-items: center;
      }
      #title1{
          visibility: hidden;
      }
      #title2{
        visibility: hidden;
    }
    #title3{
        visibility: hidden;
    }
    #title4{
        visibility: hidden;
    }
    #title5{
        visibility: hidden;
    }
    #title6{
        visibility: hidden;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
       width: 100%
    }
}
@keyframes loop-background { 
    0% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834889/purple.jpg') ; } 
    10% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834889/purple.jpg'); } 
    /* 20% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834884/pink.jpg'); }  */
    30% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1548213119/peach.jpg'); } 
    40% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834875/brown.jpg'); }  
    /* 50% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547832955/white1.jpg'); }  */
    60% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1548213131/yellow.jpg'); }  
    70% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834893/red.jpg'); } 
    80% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834899/white.jpg'); } 
    90% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547832923/blue1.jpg'); }  

}
