@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    body{
        color: grey;
        background: url("https://res.cloudinary.com/dh41vh9dx/image/upload/v1547832923/blue1.jpg") no-repeat center center fixed; 
        background-color: black;
        background-size: 100%;
        animation-name: loop-background;
        animation-duration: 12s;
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; */
      }
      h1{
          text-align: center;
      }
      background-image {
          width: 100vw;
      }
}
@keyframes loop-background { 
    0% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834889/purple.jpg'); } 
    10% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834889/purple.jpg'); } 
    /* 20% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834884/pink.jpg'); }  */
    30% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834880/peach.jpg'); } 
    40% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834875/brown.jpg'); }  
    /* 50% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547832955/white1.jpg'); }  */
    60% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834903/yellow.jpg'); }  
    70% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834893/red.jpg'); } 
    80% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547834899/white.jpg'); } 
    90% { background-image: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1547832923/blue1.jpg'); }  
    
}
